<div class="form-container mat-elevation-z5 text-center">
  <h1>{{ "User Profile" | translate }}</h1>
  <div class="profile-image">
    <img
      width="120"
      height="120"
      [src]="(user$ | async)?.photoURL ?? './assets/image-placeholder.png'"
    />
  </div>
  <button mat-mini-fab (click)="inputField.click()">
    <mat-icon>edit</mat-icon>
  </button>
  <input #inputField type="file" hidden (change)="selectImage($event)" />

  <div class="options">
    <button mat-raised-button color="primary" (click)="onUploadButtonClick()">
      {{ "Upload" | translate }}
    </button>

    <button mat-raised-button color="primary" (click)="changePassword()">
      {{ "Change Password" | translate }}
    </button>
  </div>

  <div>{{ "Pick Native Language" | translate }}</div>
  <select [(ngModel)]="newNativeLanguage">
    <option value="English">{{ "English" | translate }}</option>
    <option value="French">{{ "French" | translate }}</option>
    <option value="Romanian">{{ "Romanian" | translate }}</option>
  </select>
  <button
    class="save"
    mat-raised-button
    color="primary"
    (click)="changeNativeLanguage()"
  >
    {{ "Save" | translate }}
  </button>

  <div>{{ "Pick Language to Learn" | translate }}</div>
  <select [(ngModel)]="newLanguageToLearn">
    <option value="English" *ngIf="newNativeLanguage !== 'English'">
      {{ "English" | translate }}
    </option>
    <option value="French" *ngIf="newNativeLanguage !== 'French'">
      {{ "French" | translate }}
    </option>
    <option value="Romanian" *ngIf="newNativeLanguage !== 'Romanian'">
      {{ "Romanian" | translate }}
    </option>
  </select>
  <button
    class="save"
    mat-raised-button
    color="primary"
    (click)="changeLanguageToLearn()"
  >
    {{ "Save" | translate }}
  </button>
  <div>{{ "Points accumulated" | translate }}: {{ points }}</div>
</div>
