.welcome {
  text-align: center;
  padding-top: 32px;
}

.mascot {
  width: 5%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.content {
  text-align: center;
  padding: 32px;
  font-size: larger;
  display: flex;
  flex-direction: column;
}

.content button {
  margin: 8px;
  padding: 16px;
  background-color: #5c6bc0;
  color: white;
  margin: 8px;
  font-size: 16px;
  border-radius: 4px;
  transition: background-color 0.3s ease;
}

.content button:hover {
  background-color: #4454a1;
}
