.background {
  background-color: #f8f8f8;
  padding: 20px;
  text-align: center;
}

h1 {
  color: #5c6bc0;
}

.section {
  border-top: 1px solid #ccc;
  padding-top: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.content {
  width: 60%;
  font-family: Arial, Helvetica, sans-serif;
  color: black;
  font-size: 18px;
  line-height: 1.5;
  margin: 0 auto;
}

h2 {
  color: #5c6bc0;
}
