<div class="background">
  <h1>Welcome to Triolingo!</h1>

  <div class="section">
    <div class="content">
      <h2>Practical Language Learning</h2>
      <p>
        Triolingo offers you the possibility to learn a new language in a
        practical and fun manner by giving you access to a variety of lessons
        using phrases and words that you can use in your everyday life.
      </p>
    </div>
  </div>

  <div class="section">
    <div class="content">
      <h2>Language Variety</h2>
      <p>
        You can choose from a variety of languages to learn, such as English,
        French, and Romanian.
      </p>
    </div>
  </div>

  <div class="section">
    <div class="content">
      <h2>Choose Your Proficiency</h2>
      <p>
        You can choose your level of proficiency in the language that you wish
        to learn, from beginner to intermediate and advanced.
      </p>
    </div>
  </div>

  <div class="section">
    <div class="content">
      <h2>Test Your Knowledge</h2>
      <p>
        Feeling ready after completing a lesson? Test your knowledge by taking a
        test, and compare your scores to those of other users by checking the
        leaderboard.
      </p>
    </div>
  </div>
</div>
