<div class="lesson-container">
  <div class="lesson-header">
    {{ lessonTitle }}
  </div>
</div>

<div class="menu-container">
  <ul class="difficulty-categories">
    <li
      (click)="toggleBegginer()"
      class="difficulty-category"
      style="text-decoration: none; color: white"
    >
      Begginer
    </li>
    <div *ngIf="showBegginer">
      <li class="lesson" *ngFor="let lesson of lessons">
        <a
          [routerLink]="lesson.url"
          style="text-decoration: none; color: white"
        >
          <div class="lesson-icon">
            <mat-icon>{{ lesson.icon }}</mat-icon>
          </div>
          <div class="lesson-name">
            {{ lesson.title }}
          </div>
        </a>
      </li>
    </div>
  </ul>
</div>

<div class="table-container">
  <table class="translation-table">
    <tr *ngFor="let slide of slides">
      <td class="native">
        {{ slide.native }}
      </td>
      <td class="translation">
        {{ slide.translation }}
      </td>
    </tr>
  </table>
</div>
