<div class="lesson-container">
  <div class="lesson-header">
    {{ lessonTitle }}
  </div>
</div>

<div class="content-container">
  <div class="menu-container">
    <ul class="difficulty-categories">
      <li
        class="difficulty-category"
        style="text-decoration: none; color: white"
      >
        {{ "Beginner" | translate }}
      </li>
      <div *ngIf="!showBegginer">
        <li class="lesson" *ngFor="let lesson of lessonsBegginer">
          <a
            [routerLink]="lesson.url"
            style="text-decoration: none; color: white"
          >
            <div class="lesson-name">
              {{ lesson.title | translate }}
            </div>
          </a>
        </li>
      </div>
      <li
        class="difficulty-category"
        style="text-decoration: none; color: white"
      >
        {{ "Intermediate" | translate }}
      </li>
      <div *ngIf="!showIntermediate">
        <li class="lesson" *ngFor="let lesson of lessonsIntermediate">
          <a
            [routerLink]="lesson.url"
            style="text-decoration: none; color: white"
          >
            <div class="lesson-name">
              {{ lesson.title | translate }}
            </div>
          </a>
        </li>
      </div>
      <li
        class="difficulty-category"
        style="text-decoration: none; color: white"
      >
        {{ "Advanced" | translate }}
      </li>
      <div *ngIf="!showAdvanced">
        <li class="lesson" *ngFor="let lesson of lessonsAdvanced">
          <a
            [routerLink]="lesson.url"
            style="text-decoration: none; color: white"
          >
            <div class="lesson-name">
              {{ lesson.title | translate }}
            </div>
          </a>
        </li>
      </div>
    </ul>
  </div>

  <div class="table-container">
    <table class="translation-table">
      <tr *ngFor="let slide of slides">
        <td class="native">
          {{ slide.native | translate }}
        </td>
        <td class="translation">
          {{ slide.translation }}
        </td>
      </tr>
    </table>
    <table class="translation-table">
      <tr *ngFor="let slide of slides2">
        <td class="native">
          {{ slide.native | translate }}
        </td>
        <td class="translation">
          {{ slide.translation }}
        </td>
      </tr>
    </table>
  </div>
</div>
