<div class="form-container mat-elevation-z5">
    <h1>Password Reset</h1>
    <form [formGroup]="resetForm" (ngSubmit)="submit()">
      <mat-form-field>
        <input matInput placeholder="Email address" formControlName="email">
        <mat-error *ngIf="email?.errors?.['required']">Email is required</mat-error>
        <mat-error *ngIf="email?.errors?.['email']">Please enter a valid email address</mat-error>
      </mat-form-field>
      <div class="center margin-top">
        <button mat-raised-button color="primary" type="submit">Send</button>
      </div>
    </form>
  </div>
  